
            section{
               margin-left:90px;
            }

.a{
    font-weight:bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    padding: 0;
    margin: 0;
}
.b{
   font-family: "Poppins", sans-serif; sans-serif, Arial, sans-serif;
    font-weight: 450;
    padding:0px;
    margin:0px;
    font-size: 10;
}
.navbar{
    list-style-type: none;
    display:flex;

}
.navbar li{
    padding:10px;
    margin:20px;
    margin: top 0px;
    padding-top:0px;
    font-family: "Poppins", sans-serif;
 
}
li:hover{
    text-decoration: underline;
    cursor:pointer;
}
li:visited{
    color:red;
}
li::selection{
    color:red;
}
.download{
    margin-top:50px;
    font-size: 45;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
  
}
.image1{
    margin-top:30px;
    margin-left:20px;
}
.nav{
    display:flex;
}
.search-box{
    width:30px;
    height:30px;
    padding-left:50px;
    margin-top:32px;
}



.text{
    margin-top:0px;
    font-size: 15px;
    text-align: center;
    width:100%;
font-family: "Poppins", sans-serif;
  
}



.translate{
    width:25px;
    height:20px;
    margin-top:40px;
    padding-left:30px;
}
.downimg{
    margin-left:20px;
    margin-top:60px;
    width:120px;
    height:30pxdiv;
}


    /* .mac{
        background-color: aqua;
          height:30px;
        width:250px;
        text-align:center;
    } */
     
     .mac {
  background-color: rgb(120, 195, 239);
  height: 45px;
  width: 250px;
  text-align: center;
  line-height: 45px;  
  margin: 20px auto;  
 font-family: "Poppins", sans-serif;
  border-radius: 10px;
  margin-top:50px;
}
.mac:hover{
    background-color: rgb(77, 178, 246);
    color:rgba(8, 8, 8, 0.763);
}
.body{
    align-content:center;
    padding-left:130px;
    display: flex;
}
.texting{
    margin-left:370px;
    margin-top: 80px;
    font-size: 12px;
     font-family: "Poppins", sans-serif;
}

     .item
     {
        background-color: rgb(240, 239, 239);
        width:400px;
        text-align: center;
        line-height: 50px;
        height:200px;
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        padding-top:10px;
        padding-left:20px;
        padding-bottom: 10px;
        margin-left:185px;
        margin-top:50px;
        margin-bottom: 0px;
       
     }
     .color{
        display:flex;
        gap:30px;
        padding:10px 10px 10px 32px;
     }
     .blue:hover{
background-color:rgb(122, 86, 252);

     }
     .green:hover{
        background-color: rgb(29, 207, 29);
     }

     .blue{
        background-color: rgb(122, 122, 244);
        border-radius: 10px;
        padding-left: 10px;
        padding-right:10px;
         font-family: "Poppins", sans-serif;
         font-size: 13px;
         cursor:pointer;
     }

     .first{
        margin-top: 51px;
     }
     .green{
          cursor:pointer;
        background-color: rgb(61, 239, 96);
        border-radius: 10px;
        padding-left: 10px;
        padding-right:10px;
         font-family: "Poppins", sans-serif;
          font-size: 13px;
     }
     
     .grid{
        display: grid;
        grid-template-columns: 450px 450px;
     }

     .small{
        font-size: 10;
        margin-right: 30px;
        padding: 0;
margin-left:30px;
     }

     .footer{
         font-family: "Poppins", sans-serif;
        text-align: center;
        margin-top:50px;
        margin-bottom:40px;
        /* display:flex; */
     }
     .MyPic{
        width:50px;
        height:50px;
     }

     .Click{
        display: flex;
      justify-content: center; /* Horizontally center */
      align-items: center;     /* Vertically center (if height is set) */
      margin-top: 50px;     
     }

     .clickme{
        padding: 15px;
        border-radius: 8px;
         font-family: "Poppins", sans-serif;
         margin-top:100px;
         margin-bottom: 5px;
     }